@font-face {
    font-family: Circular Bold;
    src:    url("../fonts/bold.woff2") format("woff2"),
            url("../fonts/bold.woff") format("woff"),
            url("../fonts/bold.ttf") format("truetype");
    font-weight: 400;
    font-style: normal
}

@import url(https://fonts.googleapis.com/css?family=Noto+Sans);

@media only screen and (max-width: 76.1875em){
html [data-md-color-primary=blue] .md-nav--primary .md-nav__title--site {
    background-color: #ffeb68 !important;
}}

body, input {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
}

.md-typeset blockquote, .md-typeset ol, .md-typeset p, .md-typeset ul, .md-typeset {
	font-size: 18px !important;
	line-height: 26px !important;
}

.md-typeset table:not([class]) {
	box-shadow: none !important;
}

.md-nav__item--active>.md-nav__link, .md-nav__link:active {
    color: #000;
    font-weight: bold;
}

.md-nav__source {
	background-color: #f1693c !important;
}

a:hover {
	color: #85e0bd !important;
}

.md-header {
	background-color: #ffeb68 !important;
	box-shadow: none !important;
	color: #333;
	height: 56px;
}

.md-footer-meta {
	display: none;
}

.md-footer-nav {
	background-color: #333;
}

.md-typeset pre {
	background-color: #85e0bd;
    padding: 2em 28px;
    box-sizing: border-box;
    border-radius: 3px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Circular Bold';
}

.md-typeset a {
	color: #000 !important;
	text-decoration: underline;
}

.md-typeset code {
	background-color: #ffeb68;
	margin: 0px;
	box-shadow: none;
}

.md-nav--secondary {
    border-left: .4rem solid #ffeb68 !important;
}